/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font($font-family: $special-font, $font-size: 14px, $line-height: 18px, $font-color: $font-special-dark-grey);
  background-color: $bg-basic-white;
}

img {
  display: block;
}
