/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font($special-font, 14px, 18px);
  background-color: $bg-basic-white;
}

img {
  display: block;
}
