@mixin font-face($font-family, $font-weight, $font-style, $src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $src;
  }
}

@mixin font($font-family: $basic-font, $font-size, $line-height, $font-color: $font-basic-black, $font-weight: 400) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  color: $font-color;
}

@mixin tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin block-size ($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin left-position ($block-width, $icon-width) {
  left: calc(($block-width - $icon-width) / 2);
}
