/* здесь используйте глобальные переменные */
$bg-basic-white: #ffffff;
$bg-basic-green: #68b738;
$bg-basic-grey: #f2f2f2;
$bg-secondary-grey: #eaeaea;

$font-basic-white: #ffffff;
$font-basic-black: #000000;
$font-special-black: #111111;
$font-special-light-black: #222222;
$font-special-dark-grey: #444444;
$font-special-grey: #c4c4c4;

$icon-color: #666666;

$tablet-width: 768px;
$desktop-width: 1440px;
