.button {
  @include font($font-size: 16px, $line-height: 20px, $font-color: $font-basic-white);
  background-color: $bg-basic-green;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
}

.toggle {
  @include block-size (24px, 24px);

  background-color: transparent;
  background-position: center;
  border: none;

  box-sizing: border-box;
}
