.main-nav {
  @include font($basic-font, 20px, 20px, $font-basic-black);
}

.main-nav__list {
  list-style: none;
}

.main-nav__link {
  text-transform: uppercase;
  text-decoration: none;
  color: $font-basic-black;
}
