.main-header {
  position: relative;

  min-height: 65px;
}

.main-header__wrapper {
  background-color: $bg-basic-white;

  @include tablet {
    padding: 25px 30px;
  }

  @include desktop {
    padding: 55px 110px 0;
    background-color: transparent;
  }
}

.main-header__nav {
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-auto-rows: minmax(65px, auto);
  align-items: center;

  @include tablet {
    display: flex;
  }

  @include desktop {
    display: grid;
    grid-template-columns: min-content auto 50%;
  }
}
