.map__text {
  @include font($font-size: 14px, $line-height: 20px, $font-color: $font-special-black);
  text-transform: uppercase;
}

.map__adress {
  line-height: 20px;
}

.map__coordinates {
  text-decoration: none;
  color: $font-special-dark-grey;
}
