.map__wrapper {
  display: flex;
  flex-direction: column;

  @include desktop {
    position: relative;
  }
}

.map__content {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  @include tablet {
    padding: 0 70px;
  }

  @include desktop {
    position: absolute;
    top: 50%;
    left: 55px;
    padding: 0 80px;

    background-color: $bg-basic-white;
  }
}

.map__text {
  width: 140px;

  @include font($font-size: 14px, $line-height: 20px, $font-color: $font-special-black);
  text-transform: uppercase;
}

.map__adress {
  width: 140px;

  line-height: 20px;
  text-align: right;
}

.map__coordinates {
  text-decoration: none;
  color: $font-special-dark-grey;
}
